@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sellda's Hub!'</h1><br>
    <p>
        Go to the <b>Harry Potter</b> section to view a <u>public API</u> of all Harry Potter characters.<br>
        Or, go to the <b>Order Management</b>Order Management section to manage Orders in the <u>local database</u>.
    </p>
    <img src="https://i.pinimg.com/originals/63/5a/bb/635abb3499202aefd8d064800dbf7869.jpg" width="200" height="200">
</div>
