@{
    ViewData["Title"] = "Privacy";
}
<center>
<p>This project was made for <b>Systems Integration and Architecture</b> by <b>Criselle Sayo</b>.</p>
<img src="https://e0.pxfuel.com/wallpapers/515/1002/desktop-wallpaper-killjoy-valorant-valorant-killjoy-waifu-valorant.jpg" width="200" height="300">
</center>
